{% extends "base.html" %}

{% block content %}

<div class='row'>
	<div class='col-xs-12'>
	{{ mainPage.content }}
	</div>
</div>

	<div class='row'>
		<div class='col-xs-12 col-lg-4'>
			<div class="panel panel-info">
			  <div class="panel-heading">
				<span  style='float:left;margin-right:5px' class="glyphicon glyphicon-user" aria-hidden="true"></span>
			    <h3 class="panel-title">My Blog</h3>
			  </div>
			  <div class="panel-body">
				<p>
					I'm sharing to my experince in my blog.
				</p>
				<a style="color:#fff" href='/blog'>
				<button type="button" class="btn btn-primary" aria-label="Left Align">
  					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					My Blog
				</button>
				</a>
			  </div>
			</div>
		</div>

		<div class='col-xs-12 col-lg-4'>
			<div class="panel panel-default">
			<div class="panel-heading">
				<span style='float:left;margin-right:5px' class="glyphicon glyphicon-grain" aria-hidden="true"></span>
				<h3 class="panel-title">Last Blog Posts</h3>
			</div>
			<div class="panel-body">
				<ul style='-webkit-padding-start:10px'>
				{% for post in lastBlogPosts %}
					<li style='margin:2px 0 2px 2px;'><a href='{% url 'blogPostDetail' post.slug %}'> {{post.title}}</a></li>
				{%endfor%}
				</ul>
			</div>
			</div>
		</div>

		<div class='col-xs-12 col-lg-4'>
			<div class="panel panel-warning">
			<div class="panel-heading">
				<span style='float:left;margin-right:5px' class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
				<h3 class="panel-title">Contact Me</h3>
			</div>
			<div class="panel-body">
				<p>Mail : erkandemir86(at)gmail</p>
				<p>Twitter : twitter.com/Gurrree</p>
				<p>Facebook : facebook.com/erk.demir</p>
				<p>LinkedIn : tr.linkedin.com/in/erkdmr</p>
				<p>Git : github.com/erkandemir</p>
			</div>
			</div>
		</div>

	</div>

{% endblock %}
