{% extends "base.html" %}
{% load staticfiles %}
 {% block content %}
	<div class="row">
		<div class="col-md-8 blogPosts">
           {% block content_blog %}{% endblock %}
	   </div>
		<div class="col-md-4">
			<ul class="list-group">
                <a href="#" class="list-group-item active">
                    Categories
                </a>
				{% for cat in categories %}
				  <li class="list-group-item">
				    <span class="badge">{{cat.getPostCount}}</span>
				   <a href='{% url 'blogPostByCategory' cat.slug %}'> {{cat.title}}</a>
				  </li>
			  	{% endfor %}
			</ul>
            <a style='display:block; text-align:center' target='_blank' href='http://github.com/erkandemir'>
                <img src="{% static 'images/myexample.jpg' %}" width='150' style='margin:auto' />
                <img src="{% static 'images/python-logo.png' %}" width='150' style='margin:auto' />
            </a>

		</div>
	</di
{% endblock %}
