{% extends "blogBase.html" %}
{%block title%}
 | MyBlog
 {%endblock%}
{% block content_blog %}
{% for post in postList %}
<div class="panel panel-warning">
	<div class="panel-heading">
		<h3 class="panel-title">	<a href='{% url 'blogPostDetail' post.slug %}'>{{post.title}}</a>
			<span style="float:right"> {{post.date|date:"d-m-Y"}} </span>
		</h3>
	</div>
	<div class="panel-body">
		<a href='{% url 'blogPostDetail' post.slug %}'  style='color:#777'>{{post.teaser}}</a>
	</div>
	<div class='panel-body' style="padding-top:6px;padding-bottom:4px;">
		<span class='badge'  style='float:right'>Author: Erkan</span>
	</div>
</div>

{% endfor %}
{% endblock %}
