{% extends "blogBase.html" %}
{%block title%}
 | {{post.title}}
 {%endblock%}
{% block content_blog %}

 <h1>{{post.title}}</h1>
 <hr>


  {{post.content}}


<div>
    {% for cat in blog_categories %}
    <span style="float:left">
        <span class='label label-primary' style="float:left">
            <a style='color:#fff' href='{% url 'blogPostByCategory' cat.slug %}'> {{cat.title}}</a>
        </span>

    </span>
    {%endfor%}

   <span style="float:right">
       {{post.date|date:"d-m-Y"}}
  </span>
</div>


{% endblock %}
